# ===== Python =====
__pycache__/
*.py[cod]

# ===== Virtual Environments =====
.venv/
venv/
env/
backend/.venv/
backend/venv/

# ===== Environment Variables =====
.env
.env.*

# ===== Logs =====
*.log

# ===== OS =====
.DS_Store
Thumbs.db

# ===== IDE / Editor =====
.vscode/
.idea/
.shelf/
workspace.xml

# ===== HTTP Client (IDE) =====
httpRequests/

# ===== Database / Local Data =====
dataSources/
dataSources.local.xml
